[package]
name = "wesichain-llm"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
description.workspace = true

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
wesichain-core = { path = "../wesichain-core" }
