[package]
name = "wesichain-agent"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true
repository.workspace = true
homepage.workspace = true
description.workspace = true

[dependencies]
async-trait = "0.1"
futures = "0.3"
wesichain-core = { path = "../wesichain-core" }
wesichain-llm = { path = "../wesichain-llm" }

[dev-dependencies]
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
